<%- include('partials/head') %> 
<%- include('partials/header') %> 

  <main>
    
    <div class="mainTextConteiner">
        <img class="image" src="\images\WhatsApp Image 2020-11-18 at 15.26.52.jpeg" alt="">
        <h2 class="nombre">Facundo Romeu</h2>
        <h3 class="subtitulo">Desarrollador web full stack</h3>
      <p class="mainText">
        Soy estudiante de Ingeniería en Sistemas en la Univesidad Abierta Interamericana y desarrollador web Full stack. 
      </br>Actualmente trabajo de manera freelance para emprendedores y pequeñas empresas. Diseñando webs simples tipo catálogo y contacto. Mi próxima meta es encontrar un equipo de trabajo para adquirir experiencia en proyectos de mayor envergadura y poder crecer como profesional.
      </p>
    </div>
  </main>
  <%- include('partials/skills') %> 
  <%- include('partials/contacto') %> 
  <%- include('partials/footer') %> 
  <script src="/javascripts/index.js"></script>
<body>
</html>